@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway|Vollkorn|Yesteryear');

/* Global styles */
* { 
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 	
	margin: 0;
	padding: 0;						
}

.wrapper{
	width: 100%;
	height: auto;
	background: #282828;	
}

p{
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Header styles */
header{
	width: 100%;
	height: 600px;
	background: url(../imgs/Table_of_food.jpg) no-repeat;
	background-size: cover;
}
nav{
	width: 60%;
	margin: 0 auto;	
	background: #333;
	border-bottom: 5px solid #FFFFFF;
	height: 15%;
}
.title{
	float: left;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;
	color: #FFFFFF;
}
.navigation{
	float: right;	
}
.navigation li{
	display: inline-block;
	float: left;
	padding: 20px 20px 0px 20px;
}
.leafImage{
	clear: both;
	width: 60%;
	margin: 9% auto 0 33%;
}
.slogan{
	width: 60%;
	margin: 1% auto 0 auto;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 55px;	
	color: #bf9e7b;
}

header h2{
	font-family: vollkorn, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 27px;
}
