@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Raleway|Vollkorn|Yesteryear');

/* Global styles */
* { 
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 	
	margin: 0;
	padding: 0;	
}

.wrapper{
	width: 100%;
	height: auto;
	background: #282828;
	display: block;
}

p{
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 28px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}

/* Header styles */
header{	
	display: block;
	width: 100%;
	height: 650px;
	background: url(../imgs/Table_of_food.jpg) #282828 no-repeat;
	background-position: 0% 47%;
	background-size: cover;
}
nav{
	width: 60%;
	margin: 0 auto;	
	border-bottom: 2px solid #FFFFFF;
	height: 12%;
}
.title{
	float: left;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
.navigation{
	width: 50%;
	float: right;	
}
.navigation li{
	display: inline-block;
	float: left;
	margin: 6% 0% 0% 5%;	
}
.leafImage{
	clear: both;
	width: 60%;
	margin: 8% auto 0 33%;
}
.slogan{
	width: 60%;
	margin: 1% auto 0 auto;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;	
	color: #bf9e7b;
	text-shadow: 1px 1px #000000;
}
header h2{
	width: 60%;
	margin: 0 auto;
	font-family: vollkorn, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}
.specialties{
	width: 60%;
	margin: 3% auto 0 auto;	
}
.specialties p{
	width: 50%;
	color: #FFFFFF;
	text-shadow: 2px 2px #000000;
}

/* About Us */
.aboutandcontact{	
	clear: both;
	position: relative;
	display: block;
	width: 100%;
	background: #FFFFFF;
	height: 875px;
}
.aboutus{	
	display: block;
	float: left;
	width: 39%;
	margin: 7% auto 0 18%;
	padding-right: 5%;
	height: 625px;	
}
.aboutustitle{
	text-align: center;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;	
	color: #bf9e7b;
	text-shadow: 1px 1px #000000;
}
.aboutus p{
	text-align: center;
	color: #808080;
	padding: 5%;
}

/* Contact */
.contactblock{
	display: block;
	width: 25%;
	position: absolute;
	top: -180px;
	right: 260px;
	z-index: 1;
}
.contact{
	background: #141723;
	padding: 7%;
	margin-bottom: 1%;
}
.contacttitle{
	padding: 1%;
	font-family: vollkorn, serif;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: #bf9e7b;
}
.contact h2{
	padding: 1%;
	margin-top: 2%;
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: white;
}
.contact p{
	padding: 1%;		
	color: #FFFFFF;	
}
.viewmap a{
	text-decoration: underline;
	color: #bf9e7b;
}
.tablereservation{
	margin: 5% auto 3% auto;
	width: 60%;
	padding: 3% 0% 4% 0%;
	border: 2px solid #bf9e7b;
	text-align: center;
}
.sidebarimage{
	background: url(../imgs/Cutting_Board.jpg) #FFFFFF no-repeat;
	background-size: contain;
	height: 525px;
	margin-top: 10%;
}

/* Our Specialties */
.specialtiesblock{	
	display: block;
	margin: 0 auto;	
	width: 100%;
	height: 650px;
	background: url(../imgs/Breakfast.jpg) #282828 no-repeat;
	background-position: contain;
}
.ourspecialties h1{
	margin: 0 auto;
	padding-top: 5%;
	width: 40%;
	text-align: center;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;	
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
.ourspecialties p{
	text-align: center;
	color: #ffffff;
	text-shadow: 2px 2px #000000;
}
.foodpics{
	margin: 0 auto;	
	width: 60%;	
}
.mealimage{
	margin: 16% 1% 0 1%;
	width: 23%;
	height: 23%;
	float: left;
	background: #FFFFFF;
	box-shadow: 1px 1px 100px #000000;
}
.meal1{
	background: url(../imgs/Blueberries.jpg) no-repeat;	
}
.meal2{
	background: url(../imgs/Broccoli.jpg) no-repeat;	
}
.meal3{
	background: url(../imgs/Healthy.jpg) no-repeat;	
}
.meal4{
	background: url(../imgs/Pizza.jpg) no-repeat;	
}
.meal1, .meal2, .meal3 , .meal4 {
	background-position: top;
	background-size: cover;
	width: 100%;
	height: 200px;	
}
.mealimage p{
	color: #bf9e7b;
	text-shadow: none;
	padding: 5% 0 5% 0;
}

/* Our Menu */
.menu{	
	display: block;
	margin: 0 auto;	
	width: 100%;
	height: 1575px;
	background: #141723;
}
.menu h1{
	margin: 0 auto;
	padding-top: 5%;
	width: 60%;
	text-align: center;
	font-family: 'Yesteryear', cursive;
	font-style: normal;
	font-weight: 400;
	font-size: 50px;	
	color: #bf9e7b;	
}
.menu p{
	color: #ffffff;
}
.menudescription{
	text-align: center;		
}
.menu h2{
	clear: both;
	padding: 5%;
	width: 60%;
	margin: 0 auto;
	text-align: center;
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	color: #bf9e7b;	
}
.menu h3{	
	margin: 0 auto;	
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	color: #FFFFFF;	
}
.menu h4{	
	font-family: raleway, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	color: #bf9e7b;	
}
.menuwrapper{
	width: 65%;
	margin: 0 auto;	
}
.leftside{
	clear: both;
	margin-left: 5%;
	float: left;
	width: 45%;	
}
.rightside{
	margin-left: 5%;
	float: right;
	width: 45%;	
}
.meallisting{	
	float: left;
	padding: 4% 6% 5% 0;
}
.price{	
	float: right;	
	text-align: right;
	padding: 13% 0 0 0;	
}
.viewmenu{	
	clear: both;	
	padding: 1%;
	width: 15%;	
	background: #bf9e7b; 
	margin: 37% auto 0 auto;
	text-align: center;
}
.viewmenu p{
	color: #000000;
}